* {
  margin: 0;
  padding: auto;
}

nav {
  height: 48px;
  background-color: rgb(174, 192, 123);
  text-align: center;
  padding-top: 15px;
}

header {
  cursor: pointer;
  height: 200px;
  width: 200px;
  color: black;
  background-color: orange;
  padding: 5px;
  margin: 0 auto;
  border: 1px;
}
article:first-child {
  margin-left: 200px;
  height: 203px;
  width: 140px;
  background-image: url('https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9788936434120.jpg');
}

main {
  /* height: 290.39px; */
  /* width: 193.59px; */
  height: 50vh;
  width: 100vw;
  margin: 20px;
  opacity: 0.78;
  background-image: url('https://www.nobelprize.org/uploads/2024/10/1-2_3-6707abd287634-464x696.jpg');
  background-repeat: repeat;
}

pre {
  text-align: end;
  padding-right: 120px;
  padding-top: 49px;
  font-size: large;
}

footer {
}
